$color_1: beige;
$color_2: black;
$color_3: orange;
$color_4: green;
$color_5: whitesmoke;
$font-family_1: 'Roboto', sans-serif;
$font-family_2: 'Bebas Neue', cursive;
$font-family_3: 'Comfortaa', cursive;
$background-color_1: black;
$background-color_2: red;
$background-color_3: orange;